.img-class img {
  height: 350px;
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10em;
  border: .5px solid var(--mid-light-color);
  z-index: 0;
}

.typing-animate-1 {
  position: absolute;
  top: 37em;
  left: 50%;
  transform: translateX(-50%);
}

i {
  position: absolute;
  bottom: 8em;
  left: 50%;
  transform: translateX(-50%);
  scale: 1.5;
  color: var(--mid-beige-color);
  cursor: pointer;
  animation: pointDown 3s infinite linear;
}

/* Typing animation -1 */
.hero-animate {
  width: 23ch;
  border-right: 0.1em solid var(--mid-light-color);
  font-size: 1.5em;
  /* margin: 5px; */
  padding: 2.5px;
  font-family: monospace;
  animation: type 2s steps(20),
    writer 1s infinite alternate,
    delete .5s steps(5) 2.5s, type2 1s steps(4) 3s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.hero-animate::before {
  color: var(--mid-light-color);
  content: "Hi! Welcome to my pase";
  animation: type2 5s steps(4) 3s forwards;
}

/* Typing animate -2 */

/* Animation for animation-1*/
@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 23ch;
  }
}

@keyframes type2 {
  from {
    width: 19ch;
    content: "Hi! Welcome to my page.";
  }

  to {
    width: 23ch;
    content: "Hi! Welcome to my page.";
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }

  to {
    width: 19ch;
  }
}

/* Point Down animation */
@keyframes pointDown {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  75% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Animation for typing animation -2 */
