<nav class="nav-container">
    <div class="tabs">
      <!-- Home Page Check Button -->
      <input type="radio" id="radio-home" name="tabs" />
      <label class="tab" for="radio-home" routerLink="/" routerLinkActive="home-active">Home</label>
  
      <!-- Work Page Check Button -->
      <input type="radio" id="radio-works" name="tabs" /><label class="tab" for="radio-works" routerLink="works"
        routerLinkActive="works-active">Works</label>
  
      <!-- Contact Page Check Button -->
      <input type="radio" id="radio-contact" name="tabs" />
      <label class="tab" for="radio-contact" routerLink="contact" routerLinkActive="contact-active">Contact</label>
  
      <!-- Glider -->
      <span class="glider"></span>
    </div>
  </nav>