.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.alert-box-large {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 13px;
  border-radius: 8px;
  flex-direction: column;
}

.alert-box-large {
  height: 40vh;
  width: auto;
  font-family: 'Courier New', Courier, monospace;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
.btn-close{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-color);
}

.alert-box{
  width: fit-content;
}

.alert-box .btn{
  margin-top: 3em;
}


form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
}
