<section>
    <div class="second-section-container">
        <div class="second-hero">
            <h2 class="about-me-heading">About me</h2>
            <i class="fa-solid fa-quote-left left-quote"></i>
            <p class="about-me-paragraph">I am a Computer Science graduate from Assam Don Bosco University. I am looking for a full-time job in the IT sector. I have been working on my own projects for the last 1 years on web developments. Some of the web development frameworks that I have worked with - Python Django, Angular and Express. I have also developed a keen intrest in UI/UX design using html and css.</p>
            <i class="fa-solid fa-quote-right right-quote"></i>
        </div>
    </div>
</section>
