.back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark-color);
    z-index: 50;
}
.main-container {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-height: 300px;
    text-align: center;
    color: var(--primary-color);
    border: none;
}