.grid {
  display: grid;
  padding: .6em;
  padding-right: 2em;
  grid-template-rows: 0.1fr 1fr .1fr .5fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 20px;
  grid-template-areas:
    "head head head head"
    "form form form form"
    "form form form form"
    "formImg formImg formImg formImg"
  ;
}

.form-heading {
  grid-area: head;
  margin-top: 2em;
}

.form-edit {
  grid-area: form;
}

.form-btn {
  text-align: end;
}

.form-img {
  grid-area: formImg;
  align-content: center;
  border: .5px solid var(--primary-color);
  width: auto;
  height: 130px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control.ng-touched.ng-invalid {
  border-color: var(--error-color);
  
}

@media (max-width:550px) {
  .grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    scale: 0.8;
  }
  .form-btn {
    display: flex;
    scale: 0.8;
  }
  .form-heading {
    margin-top: auto;
  }
}