<section>
  <div class="main-container grid">
    <div class="about_img">
      <img src="../../assets/rishabh-mathew-Foi2sqECfOA-unsplash.jpg" alt="about_img">
      <div class="project_desc">
        <ul class="about-list">
          <li class="about-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, inventore!</li>
          <li class="about-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="about-list-item">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li class="about-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odio fuga reprehenderit?</li>
        </ul>
      </div>
    </div>
  </div>
</section>
