<section>
  <div class="main-container">
    <div class="main-container-content">
      <div class="project_desc">
        <p>
          This app was made using Angular and it has some good features. It
          allows me to showcase my projects. It also allows me to add new
          projects, edit or delete existing projects. I can even change the
          'about me' in the home page without jumping back into development
          because it gets all its data from an api on firebase database making
          it respond to changes easily.
        </p>
      </div>
      <div class="project_desc_links">
        <i class="fa-solid fa-at"></i>
        <p>{{ mailLink }}</p>
        <i class="fa-brands fa-github"></i>
        <!-- <a href="/gitLink">{{gitLink}}</a> -->
        <p>{{ gitLink }}</p>
        <i class="fa-brands fa-linkedin-in"></i>
        <p>{{ linkdLink }}</p>
      </div>
    </div>
  </div>
</section>
