
.project_desc {
  display: flex;
  position: relative;
  padding: 2em;
  margin: 1em;
}
.main-container-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 8%;
}

.project_desc p{
  color: var(--primary-color);
  text-align: center;
  font-size: 13px;
}

.project_desc h4{
  text-align: center;
}
.project_desc_links p{
  text-align: center;
  font-size: medium;
}

.project_desc_links{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--mid-beige-color);
}

i {
  scale: 1.2;
}

@media (max-width:550px) {
  
  .project_desc p {
    font-size: 14px;
  }
}