.grid-card {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px 15px;
}


.login-btn{
  position: relative;
  text-align: end;
}

.box-heading {
  display: grid;
  grid-template-columns:.5fr .5fr 1fr .5fr .5fr;
  height: 120px;
}

.box-heading > h2{
  width: 100%;
  align-items: center;
  grid-column: 3;
}

.heading-sub {
  font-weight: 400;
  border-bottom: 1px solid;
  color: var(--mid-light-color);
}

.login-btn > a {
  margin: 5px;
  margin-right: 15px;
}


