<section>
  <div class="main-container">
    <div class="box box-heading heading-works">
      <h2 class="heading-page">Some of my works</h2>
      <a class="login-btn">login</a>
    </div>
    <div class="grid-card">
      <div class="box shadow" *ngFor="let work of works; let i = index">
        <h4 class="heading-sub">{{work.heading}}</h4>
        <p class="paragraph-beige">{{work.details | shorten:150}}
          <a [routerLink]="[i]"><span class="text-btn">Read more</span></a>
        </p>
      </div>
    </div>
  </div>
</section>
