.grid-card {
  margin: 1em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px 15px;
}

.box {
  height: 160px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.login-btn{
  position: relative;
  text-align: center;
  left: 42.5%;
  border-right: 2px solid var(--primary-color);
  cursor: pointer;
}

.box-heading {
  height: 120px;
}

.heading-sub {
  font-weight: 400;
  border-bottom: 1px solid;
  color: var(--mid-light-color);
}


