/* .second-section-container{
    display: relative;
    margin: 40px;
    padding: 10px;
    border: 2px solid var(--mid-light-color);
    margin-top: 3em;
  } */
.second-hero{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    margin-top: 6em;
    padding: 2em;
}
.left-quote{
    display: flex;
    color: var(--mid-beige-color);
    align-self: flex-start;
    padding-top: 15px;
    padding: 20px;
}
.right-quote{
    display: flex;
    color: var(--mid-beige-color);
    align-self: flex-end;
    padding: 20px;
}

.about-me-heading{
    width: 30%;
    align-self: center;
    color:  var(--mid-light-color);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 1px;
    text-align: center;
}
.about-me-paragraph{
    padding: 20px;
    color: var(--mid-beige-color);
    text-align: center;
    text-indent: 20px;
}