.second-hero {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  padding: 2em;
  font-family: monospace;
}

.left-quote {
  display: flex;
  color: var(--mid-beige-color);
  align-self: flex-start;
  padding-top: 15px;
  padding: 20px;
}

.right-quote {
  display: flex;
  color: var(--mid-beige-color);
  align-self: flex-end;
  padding: 20px;
}

p {
  padding: 20px;
  text-align: center;
}
