.second-hero {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: monospace;
  /* background-color: var(--dark-color); */
}

/* .heading-page{
  margin-top: %;
} */


.left-quote {
  display: flex;
  color: var(--mid-beige-color);
  align-self: flex-start;
  padding: 20px;
}

.right-quote {
  display: flex;
  color: var(--mid-beige-color);
  align-self: flex-end;
  padding: 20px;
}

p {
  padding: 20px;
  text-align: center;
}

@media (max-width: 550px) {
  .second-hero {
    scale: 0.9;
    width: 100%;
  }

  .heading-page {
    scale: .8;
  }
}
