.nav-container{
    position:fixed;
    left: 50%;
    transform: translate(-50%);
    top: .1em;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

.tabs{
    display: flex;
    position: relative;
    background-color: var(--mid-beige-color);
    box-shadow: 0 0 3px 1 rgba(var(--primary-color), 0.15), 0 6px 12px 0 rgba(var(--primary-color), 0.15);
    padding: 0.75rem;
    border-radius: 2em;
}
.tabs .tab {
    z-index: 2;
}

input[type="radio"]{
    display: none;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[type="radio"]:checked + label{
    color: var(--light-color);
}
input[type="radio"]:hover + label{
    font-weight: 600;
}
input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}
input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}
input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}

.glider{
    position: absolute;
    height: 25px;
    width: 100px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}