<section >
    <div class="third-section-container">
        <div class="third-hero">
            <h2 class="about-me-heading">and more</h2>
            <i class="fa-solid fa-quote-left left-quote"></i>
            <p class="about-me-paragraph">I am willing to join and assimilate in a team and provide a fresh take and fresh approah to every project. I am open to challenges and constructive feedback. I am open-minded and ready to learn new things...</p>
            <i class="fa-solid fa-quote-right right-quote"></i>
        </div>
    </div>
</section>