.works-first-container {
  width: 960px;
  height: 740px;
  margin: 30px;
  padding: 10px;
  border: 2px solid var(--mid-light-color);
  margin-top: 3em;
}

.grid {
  display: grid;
  margin-top: 3em;
  grid-template-rows: .5fr 1.5fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  grid-template-areas: 
  "head head head"
  "img desc desc"
  "img desc desc";
}

.work_heading {
  align-self: center;
  grid-area: head;
}

.work_img {
  grid-area: img;
  text-align: center;
}

.work_desc {
  text-align:justify;
  padding: 1em;
  grid-area: desc;
}

img {
  width: 190px;
  height: 230px;
}

.go-back-btn{
  position: absolute;
  right: 5em;
  border-right: 2px solid var(--primary-color);
  cursor: pointer;
}

.go-back-btn:hover{
  color: var(--primary-color);
  border-right: 1px solid #5cb85c;
  animation: writer .8s infinite alternate;
}