<section>
    <div class="works-first-container grid">
      <div class="project_img">
        <h2> Project 1</h2>
        <img src="../../../assets/rishabh-mathew-Foi2sqECfOA-unsplash(1).jpg" alt="">
      </div>
      <div class="project_desc">
        <p>ipsum, dolor sit amet consectetur adipisicing elit. Consequatur tempore animi maiores, cupiditate nostrum
          commodi!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat distinctio ipsam ex.</p>
      </div>
    </div>
  </section>
