<section>
        <div class="hero-first-container">
                <!-- hero image -->
                <div class="img-class">
                        <img src="../../../assets/jocelyn-morales-iWfp0ofCNt8-unsplash.jpg" alt="Rishab Mathew">
                </div>
                <!-- Animation class -->
                <div class="typing-animate-1">
                        <div class="hero-typing hero-animate" 
                        (click)="typingAnimateToggle()" 
                        [ngClass]="{'hero-typing hero-animate': clickAnimate == true}">
                </div>
        </div>
        <!-- scroll Down button -->
        <a href="#" class="scroll-down-btn"></a><i class="fa-solid fa-angles-down" (click)="scrollDown(secondSection)"></i>
</div>
</section>
<!-- Trasition to second section link-->
<div class="second-section-container" #secondSection>
        <app-second-section></app-second-section>
</div>
<app-third-section></app-third-section>