You can add global styles to this file,
and also import other style files *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E0DDAA;
  --secondary-color: #203239;
  --dark-color: #141E27;
  --light-color: #EEEDDE;
  --mid-beige-color: #CC9544;
  --mid-light-color: #FFE4C4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background-color: var(--dark-color);
  font-family: 'Courier New', Courier, monospace;
  /* min-width: 1024px; */
  /* max-width: 1440px; */
}

section {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}


.main-container {
  display: relative;
  width: 960px;
  height: 740px;
  margin: 40px;
  padding: 10px;
  border: 2px solid var(--mid-light-color);
  margin-top: 3em;
}
.main-container-mid {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--mid-beige-color);
  color: var(--dark-color);
  border: none;
  border-radius: 99px;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--mid-beige-color);
}

.btn:hover {
  background-color: #E0DDAA;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
