You can add global styles to this file,
and also import other style files *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E0DDAA;
  --secondary-color: #203239;
  --dark-color: #141E27;
  --light-color: #EEEDDE;
  --mid-beige-color: #CC9544;
  --mid-light-color: #FFE4C4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background-color: var(--dark-color);
  font-family: 'Courier New', Courier, monospace;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background-color: var(--dark-color);
  font-family: 'Courier New', Courier, monospace;
}

section {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}


.main-container {
  display: relative;
  width: 860px;
  height: 740px;
  margin: 40px;
  padding: 10px;
  border: 2px solid var(--mid-light-color);
  margin-top: 3em;
  font-family: monospace;
}

.main-container-mid {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.box-heading {
  display: grid;
  grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
  height: 120px;
}

.box-heading> :first-child {
  width: 100%;
  align-self: center;
  text-align: center;
  grid-column: 3;
  color: var(--mid-light-color);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 1px;
}

.box-heading-no-border> :first-child {
  width: 100%;
  align-self: center;
  text-align: center;
  grid-column: 3;
  color: var(--mid-light-color);
}

.heading-page-underline {
  color: var(--mid-light-color);
  text-align: center;
  text-decoration: underline;
}

.paragraph-beige {
  color: var(--mid-beige-color);
}

.shadow {
  box-shadow: rgba(45, 124, 45, 0.6) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Buttons */

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--mid-beige-color);
}

.btn:hover {
  background-color: #E0DDAA;
}

.text-btn {
  display: inline-block;
  cursor: pointer;
  color: var(--dark-color);
  border: none;
}

.text-btn:hover {
  color: var(--primary-color);
  border-right: 1px solid #5cb85c;
  animation: writer .8s infinite alternate;
}


.btn {
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin: 1px;
  font-weight: normal;
  background: var(--mid-beige-color);
  color: var(--dark-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  /* background-image: none; */
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  border-right: 2px solid var(--primary-color);
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
  border-right: 2px solid #5cb85c;
  animation: writer 0.6s alternate infinite;
}

/* Form controls  */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--mid-beige-color);
  background-color: var(--dark-color);
  background-image: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: var(--mid-light-color);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(32, 155, 32, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(158, 192, 36, 0.6);
}

.form-control::-moz-placeholder {
  color: var(--mid-light-color);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: var(--mid-light-color);
}

.form-control::-webkit-input-placeholder {
  color: var(--mid-light-color);
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

/* form error */
.help-block {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: var(--error-color);
  font-size: small;
}

/* Image */
img {
  vertical-align: middle;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Animation */
@keyframes writer {
  50% {
    border-color: transparent;
  }
}
